<div class="container" style="padding:40px 0;max-width:480px;">
  <h1>Reset password</h1>
  {% form 'reset_customer_password' %}
    {{ form.errors | default_errors }}
    <label>New password</label>
    <input type="password" name="customer[password]" required>
    <label>Confirm password</label>
    <input type="password" name="customer[password_confirmation]" required>
    <button type="submit" class="btn">Reset</button>
  {% endform %}
</div>
